*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    font-weight: 800;
}
.linkscontainer{
    border: 1px;
    color: cyan;
}
.animals{
    border : 4px;
    color : lawngreen;
}
